body{
  background-color:rgb(183, 183, 183);
  overflow:hidden;
}

h1{
  position: absolute;
  left: 5vw;
  top: 10vh;
  transform: rotate(-10deg);
  text-shadow: 0vh 0vh 1vh white;
  font-size: 5vw;
  font-family: 'Stalinist One', cursive;
  z-index: 3;
}


#bigger{
  align-self: center;
  margin: auto;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vw;
  width: 50vw;
  background-color: white;
}


#big {
  height: 40vw;
  width: 40vw;
  display:flex;
  align-self: center;
  background-color: black;

}

.oppospin{
  /*animation: oppospin 3s infinite linear;*/
}

.spin {
  /*animation: spin 5s infinite linear;*/
}

#foreground, #background{
  position: absolute;
  overflow:hidden;
  height:100vh;
  width:100vw;
  display: flex;
}

#grid-container{
  z-index: 999;
  /*padding-top: 2vh;*/
  margin:auto;
  height: 30vw;
  width: 30vw;
  background-color:white;
  border: 1vh solid black;
  display:flex;
  flex-direction: column;
  justify-content: space-around

}

.third{
   /*margin:auto;*/
   /*border: 2px solid blue;*/
   /*height: 10vw;*/
   width: inherit;
   display: flex;
   justify-content: space-around;
}

.square-container{
  height:7vw;
  width:7vw;

}

.square{
  height: 7vw;
  width: 7vw;
  display: flex;
}


h2 {
  text-align: center;
  font-size: 15vh;
  margin-top: -3vh;
}

#right-bottom-border{
  border-right: 2vh solid black;
  border-bottom:2vh solid black;


}

#left-right-bottom-border{
  border-left:2vh solid black;
  border-bottom:2vh solid black;
  border-right: 2vh solid black;
}

#left-bottom-border{
  border-left:2vh solid black;
  border-bottom:2vh solid black;
}

#top-right-bottom-border{
  border-top:2vh solid black;
  border-bottom:2vh solid black;
  border-right: 2vh solid black;
}


#top-left-bottom-border{
  border-top:2vh solid black;
  border-left:2vh solid black;
  border-bottom:2vh solid black;
}

#all-border {
  border: 2vh solid white;
}

#right-top-border{

  border-top:2vh solid black;
  border-right: 2vh solid black;
}

#left-right-top-border{
  border-left:2vh solid black;
  border-top:2vh solid black;
  border-right: 2vh solid black;
}

#left-top-border{
  border-left:2vh solid black;
  border-top:2vh solid black;
}

#headerOverlay {
  z-index: -1;
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.7);
  opacity:0;
  transition: 1s;
  animation-duration: 3s;
  animation-timing-function :linear;
}

#resetButton{
  position: absolute;
  top: 80vh;
  left: 45vw;
  border: 1vh double black;
  background-color:rgba(255,255,255, 0.5);
  opacity:0;
  font-size: 2vh;
  padding: 2vh 4vh 2vh 4vh;
}


#whosTurn{
  transform: rotate(0deg);
  margin-top: 15vh;
  font-size: 50vh;
  animation-duration: 3s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
}

#spinner {
  margin-left: -200vw;
  position: relative;
  animation-duration: 3s;
  animation-timing-function:linear;

}

#sidebar {
  position: absolute;
  height: 100vh;
  width: 20vw;
  display: block;
  top: 0;
  right:-17vw;
  transition: 0.5s;
  background-color: white;
  background: linear-gradient(to right, rgba(255,255,255, 0.0),rgba(255,255,255, 1.0));
}

#sidebar:hover {
  right:0vw;
}

#sidebar h3 {
  text-align: center;
  font-size: 5vh;
  margin: 5vh;
}

#winners{
  margin-top: 0vh;
}

#prevWinners{
  position: relative;
  top: 0;
  left: 5vw;
  font-size: 15vh;
}

#sidebar button {
  border: 1vh double white;
  background-color:rgba(255,255,255, 0.0);
  margin: 5vh;
  margin-top: 0vh;
  font-size: 2vh;
  padding: 2vh 4vh 2vh 4vh;
  outline: none;
}

#sidebar button:active {
  box-shadow: 0vh 0vh 3vh 3vh white;

}


#whoWon{
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
  opacity:0;
  margin-left: 34vw;
  animation-timing-function:linear;
}

@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg)};
}

@keyframes oppospin{
    from{transform: rotate(0deg);}
    to{transform: rotate(-360deg)};
}

@keyframes zoominout {
  0%{margin-left: -110vw;}
  20%{margin-left: 50vw;}
  30%{margin-left: 25vw;}
  70%{margin-left: 25vw;}
  80%{margin-left: 10vw;}
  100%{margin-left: 110vw;}
}

@keyframes sortaModal {
  0%,100%{z-index: -1; opacity:0;}
  10%,90%{z-index: 9999; opacity:1;}
  /*50%{z-index: 9999; pointer-events: none; opacity:1;}*/
}

@keyframes winAnimation {
  from{ transform: scale(1,1); opacity:0;}
  to{ transform: scale(1.5,1.5); opacity:1;}
}

  @media screen and (max-width: 800px){

  h1{
    left:10vw;
    font-size: 7vw;
  }

  #bigger{
    height:70vw;
    width:70vw;
  }

  #big{
    height:60vw;
    width:60vw;
  }

  #grid-container{
    height:50vw;
    width:50vw;
  }

.square, .square-container{
  height: 12vw;
  width: 12vw;
}

  #right-bottom-border{
    border-right: 1vh solid black;
    border-bottom:1vh solid black;=
  }

  #left-right-bottom-border{
    border-left:1vh solid black;
    border-bottom:1vh solid black;
    border-right: 1vh solid black;
  }

  #left-bottom-border{
    border-left:1vh solid black;
    border-bottom:1vh solid black;
  }

  #top-right-bottom-border{
    border-top:1vh solid black;
    border-bottom:1vh solid black;
    border-right: 1vh solid black;
  }


  #top-left-bottom-border{
    border-top:1vh solid black;
    border-left:1vh solid black;
    border-bottom:1vh solid black;
  }

  #all-border {
    border: 1vh solid white;
  }

  #right-top-border{

    border-top:1vh solid black;
    border-right: 1vh solid black;
  }

  #left-right-top-border{
    border-left:1vh solid black;
    border-top:1vh solid black;
    border-right: 1vh solid black;
  }

  #left-top-border{
    border-left:1vh solid black;
    border-top:1vh solid black;
  }
}


