/*priorities come the morn
  Heading/splash page for game


  Animate a heading for:
  ~Person's turn
  ~Person won
  ~Tie Game

  ~Do you wanna play again button(div.style.animationname, etc)
  ~Turn spin on/off button for icons and divs (toggleclass)
*/




















body{
  overflow: hidden;
  background-color:rgb(183, 183, 183);
  display: flex;
  justify-content: center;
}

h1{
  position: absolute;
  left: 0vw;
  top: 10vh;
  transform: rotate(-10deg);
  text-shadow: 0vh 0vh 1vh white;
  font-size: 8vh;
  font-family: 'Stalinist One', cursive;
  z-index: 3;
}


#bigger{
  position: relative;
  top: 12vh;
  align-self: center;
  display:flex;
  height: 80vh;
  width: 80vh;
  background-color: white;
  /*animation: spin 5s infinite linear;*/
}

#big {
  position: relative;
  /*top:5vh;*/
  left: 2.5vw;
  margin-left: ;
  height: 70vh;
  width: 70vh;
  /*display:flex;*/
  align-self: center;
  background-color: black;
  /*animation: oppospin 3s infinite linear;*/
}

#grid-container{
  position: absolute;
  padding-top: 2vh;
  top: 20vh;
  left: 30vw;
  height: 60vh;
  width: 60vh;
  background-color:white;
  border: 1vh solid black;
  /*align-self: center;*/
  display:flex;
  flex-wrap: wrap;
  /*align-content: center;*/
  justify-content: space-around;
  animation-name: initial;
  animation: still 4s infinite linear;

}

.square-container{
  height:15vh;
  width:15vh;
  margin: 1vh;
  display: flex;

}

.square{
  height: 10vh;
  width: 10vw;
  /*border: 2px solid blue;*/
  align-self: center;
}

h2 {
  text-align: center;
  font-size: 15vh;
  margin-top: -3vh;
}

#right-bottom-border{
  border-right: 2vh solid black;
  border-bottom:2vh solid black;


}

#left-right-bottom-border{
  border-left:2vh solid black;
  border-bottom:2vh solid black;
  border-right: 2vh solid black;
}

#left-bottom-border{
  border-left:2vh solid black;
  border-bottom:2vh solid black;
}

#top-right-bottom-border{
  border-top:2vh solid black;
  border-bottom:2vh solid black;
  border-right: 2vh solid black;
}


#top-left-bottom-border{
  border-top:2vh solid black;
  border-left:2vh solid black;
  border-bottom:2vh solid black;
  /*border-right: 5vh solid black;*/
}

#all-border {
  border: 2vh solid white;
}

#right-top-border{

  border-top:2vh solid black;
  border-right: 2vh solid black;
}

#left-right-top-border{
  border-left:2vh solid black;
  border-top:2vh solid black;
  border-right: 2vh solid black;
}

#left-top-border{
  border-left:2vh solid black;
  border-top:2vh solid black;
}


#whoWon{
  transform: rotate(0deg);
  margin-left: -200vh;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.5);
}

@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg)};
}

@keyframes oppospin{
    from{transform: rotate(0deg);}
    to{transform: rotate(-360deg)};
}

@keyframes zoominout {
  0%{margin-left: -210vw;}
  20%{margin-left: 30vw;}
  30%{margin-left: 10vw;}
  70%{margin-left: 10vw;}
  80%{margin-left: 0vw;}
  100%{margin-left: 210vw;}
}


